.all-actors{
    background-color: #EFDABC;
    padding: 40px 0 120px 0;
    .link-page{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 182px;
        margin-bottom: 60px;
        .links-page{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $bl;
        }
        svg{
            width: 12px;
            height: 12px;
            fill: $bl;
        }
    }

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__block{
        display: block;
        margin-bottom: 50px;
        &:hover{
            .all-actors__name{
                opacity: 0.7;
            }
        }
    }
    &__img{
        max-width: 320px;
        margin-bottom: 15px;
    }
    &__name{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $bl;
        transition: all 0.3s;
    }
    
}